{% comment %}
  Snippet: product-card.liquid
  Description: This snippet is used to render a product card.
  -----------------------------------
  Usage:
  {% render 'product-card', product: product %}
{% endcomment %}

{% assign price_text_color = 'text-black' %}
{% assign text_color_sale = price_text_color %}
{% assign color_pattern = product.metafields.shopify['color-pattern'].value %}

{% unless color_pattern == blank %}
  {% capture swatches %}
    <div class='flex items-center space-x-2 px-0.5'>
    {% for color in color_pattern %}
      {% assign has_primary_image = false %}
      {% assign has_secondary_image = false %}
      {% assign label = color.label | downcase %}
        <button
          js-product-card="swatch"
          class='
            {% if forloop.first %}
              is-active
              outline
              outline-1
              outline-offset-1
              outline-blue-900
            {% endif %}
            w-5 h-5
            rounded-full
            bg-{{ label }}
          '
          data-color='{{ label }}'
          style='background-color: {{ color.color }};'
          {% for image in product.images %}
            {% if image contains label %}
              {% if image contains 'secondary' %}
                data-secondary-image="{{ image | img_url: '660x' }}"
                {% assign has_secondary_image = true %}
              {% else %}
                data-primary-image="{{ image | img_url: '660x' }}"
                {% assign has_primary_image = true %}
              {% endif %}

              {% if has_primary_image and has_secondary_image %}
                {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% for variant in product.variants %}
            {% if variant.options contains color.label %}
              data-variant-id="{{ variant.id }}"
              {% break %}
            {% endif %}
          {% endfor %}
        ></button>
      {% endfor %}
    </div>
  {% endcapture %}
{% endunless %}

<div
  js-product-card='container'
  class='product-card custom w-full p-5'
>
  {% if product.compare_at_price > product.price %}
    <span
      class='
        product-card__badge
        font-semibold text-red-500
        border rounded-full border-red-500
        absolute z-10 px-2 m-4
      '
    >
      On Sale!
    </span>
  {% endif %}

  <div class='overflow-hidden bg-white'>
    <a js-product-card='url' href='{{ product.url }}'>
      <div
        class='overflow-hidden relative h-100 border rounded-xl'
        style='padding-block-end: 100%;'
      >
        {%- if product.featured_image -%}
          <img
            js-product-card='primary-image'
            class='
              absolute inset-0
              object-cover w-full h-full
              transition duration-500 ease-in-out
              transform opacity-100 hover:opacity-0
            '
            src='{{ product.featured_image | image_url: width: '660' }}'
            alt='{{ product.featured_image.alt }}'
            loading='lazy'
          >

          <img
            js-product-card='secondary-image'
            class='
              absolute inset-0
              object-cover w-full h-full
              transition duration-500 ease-in-out
              transform opacity-0 hover:opacity-100
            '
            src=''
          >
        {%- else -%}
          {{
            'product-1'
            | placeholder_svg_tag: 'object-cover w-full h-full bg-gray-100'
          }}
        {%- endif -%}
      </div>
    </a>

    <div class='product-card__details  flex flex-col py-4'>
      {{ swatches }}
      <span class='text-sm text-black pt-4'>{{ product.vendor }}</span>

      <a
        js-product-card='url'
        class='font-medium text-blue-800'
        href='{{ product.url }}'
      >
        {{- product.title -}}
      </a>

      <div class='product-card__priceasdfasd flex space-x-2'>
        {% if product.compare_at_price %}
          {% assign text_color_sale = 'text-red-500' %}
          <p class='text-sm line-through {{ price_text_color }}'>
            {{ product.compare_at_price | money }}
          </p>
        {%- endif -%}
        <p class='text-sm {{ text_color_sale }}'>{{ product.price | money }}</p>
      </div>
    </div>
  </div>
</div>
